.product-grid-item {
    float: left;
    margin: 10px;
    width: 200px;
}
.col-left {
    float: left;
    width: 80%;
}
.col-right {
    float: left;
    width: 20%;
}
.liked-products {
    padding: 0px 10px;
    margin: 0;
    list-style: none;
}
.liked-products li {
    margin: 0 0 10px 0;
}
.liked-products li img {
    width: 100%;
}